body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
}

/* Asegura que html y body ocupen el 100% de la altura */
html, body {
    height: 100%;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #0077b6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option-box, .logo, .icons {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.icons {
    gap: 15px;
}

.icon .button, .option-box .button {
    background: #00b4d8;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;
}

.icon .button:hover, .option-box .button:hover {
    background: #0096c7;
    transform: scale(1.05);
}

/* Main content */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

/* Left section */
.left-section {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio adicional entre los botones */
    justify-content: flex-start;
    margin-right: 20px; /* Margen a la derecha entre los botones y la imagen */
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 15px;
    border: none;
    background: #00b4d8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.btn:hover {
    background: #0096c7;
    transform: scale(1.05);
}

/* Right section */
.right-section {
    flex: 1 1 55%;
}

/* Modifica el contenedor de la imagen para eliminar el cuadro y centrarla */
.image-box {
    background: none;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Centrado horizontal y un margen inferior */
    box-shadow: none;
    border-radius: 0;
}

/* Ajusta la imagen para que sea un poco más pequeña y se centre */
.responsive-image {
    max-width: 50%; /* Se reduce el tamaño de la imagen */
    height: auto;
    display: block;
    margin: 0 auto;
}

.footer {
    background: #0077b6;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: auto;
}
