body {
    padding-top: 100px;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    display: grid; 
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

.box {
    width: 350px;
    max-height: 400px;
    display: grid; 
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.box:hover {
    transform: translateY(-5px);
}

.box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.box ul {
    list-style: none;
    text-align: justify;
}
