/* Container styles with padding */
.container {
    padding: 20px;
}

/* Option styles with flexbox alignment and spacing */
.option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Text styles for options, including font size and spacing */
.option span {
    margin-left: 10px;
    font-size: 16px;
}

/* Switch styles for toggle elements */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Slider styles for the switch, including background and transition */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Slider circle styles, including size and transition */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Change slider background when the switch is checked */
input:checked + .slider {
    background-color: #0077b6;
}

/* Move the slider circle when the switch is checked */
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Dark mode styles for the body, including background and text color */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Dark mode styles for the header */
body.dark-mode header {
    background: #333333;
}

/* Dark mode styles for option text */
body.dark-mode .option span {
    color: #ffffff;
}