.hidden {
    display: none;
}

.info-box, .foto-box {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

.foto-box,
.info-box {
    flex: 1;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.foto-box img {
    width: 150px;
    height: 165px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.info-box {
    align-items: flex-start;
}

.info-box h2 {
    white-space: nowrap; 
}

.info-box ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.info-box li {
    margin-bottom: 10px;
    color: #333333;
    font-size: 16px;
}

.info-box li strong {
    color: #0077b6;
}


.button-group {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Estilo para el botón de logout rojo */

.logout-box {
    display: flex;
    justify-content: center; /* Centra el botón de logout */
    margin-top: -250px; /* Reduce el espacio entre los cuadros y el botón */

}

.logout-btn {
    background-color: #d32f2f;
}

.logout-btn:hover {
    background: #942121;
}


