/* General Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    margin-bottom: 30px;
    color: #0077b6;
}

/* No se utiliza */
h2 {
    margin-bottom: 30px;
    color: #0077b6;
}

p {
    margin-bottom: 30px;
    color: black;
    font-size: 1.2rem;
}

.button {
    padding: 10px 20px;
    border: none;
    background: #00b4d8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
    width: 100%;
}