/* General Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center; 
    padding: 15px 20px;
    background: #0077b6;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100vw; 
    height: 25px;
    position: fixed; 
    top: 0;
    z-index: 1000; 
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.header-left, .header-right {
    flex: 1; /* Ambos ocupan el mismo espacio */
    display: flex;
    align-items: center;
}

.header-left {
    justify-content: flex-start;
    margin-left: 15px;
}

.header-right {
    justify-content: flex-end;
    margin-right: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #0077b6;
    color: white;
    font-size: 14px;
    position: fixed;
    width: 100vw;
    bottom: 0;
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    margin-bottom: 30px;
    color: #0077b6;
}

/* No se utiliza h2 en ninguna página*/
h2 {
    margin-bottom: 25px;
    color: #0077b6;
}

p {
    margin-bottom: 15px;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.title a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
}


button {
    background: #00b4d8;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;
    height: auto;
}

.hidden-button {
    visibility: hidden; /* No se muestra, pero ocupa espacio */
    width: 50px;
}

header button {
    padding: 8px 15px;
}


button:hover {
    background: #0096c7;
    transform: scale(1.05);
}