<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatcher - Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/blogStyles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>

    <header>
        <div class="header-left">
            <button class="back-btn" onclick="location.href='/main'">⬅️ Atrás</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button id="post-btn" onclick="location.href='/blog/newpost'">Postear</button>
        </div>
    </header>

    <main class="container">
        <div class="container">
            <section id="blog-posts" class="blog-posts">
                {{#posts}}
                <div class="box">
                    <h1>{{title}}</h1>
                    <img src="{{imagePath}}" alt="{{title}}" class="post-image">
                    <p>{{content}}</p>
                    <p><strong>Fecha:</strong> {{timestamp}}</p>
                    <p><strong>Autor: </strong>{{ownerName}}</p>
                </div>
                {{/posts}}

                {{^posts}}
                <div class="box">
                    <p>No hay publicaciones todavía.</p>
                </div>
                {{/posts}}
            </section>
        </div>
    </main>

    <footer>
        <div class="copyright">© 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.</div>
    </footer>

</body>

</html>
