<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatcher - Error {{status}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>

    <!-- Header with the app title and link to the main page -->
    <header class="title">
        <a href="/main" class="logo">
            <div>JOBMATCHER</div>
        </a>
    </header>

    <!-- Main content: Error message box -->
    <div class="container">
        <div class="box">
            <h1 style="color: #d9534f;">¡UwU! Something went wrong</h1>
            <p>{{error}}</p> <!-- Dynamic error message -->
            <p>Error {{status}}</p> <!-- Error status code -->
            <button onclick="location.href='/main'">Return to home</button> <!-- Button to go back to the main page -->
        </div>
    </div>

    <!-- Footer with copyright information -->
    <footer>
        <div class="copyright">&copy; 2025 Developed by Cibercatalejo team. All rights reserved.</div>
    </footer>

    <!-- Script to handle going back to the previous page or to the main page -->
    <script>
        function goBack() {
            if (document.referrer) {
                window.history.back(); // Goes back to the previous page
            } else {
                window.location.href = "/main"; // Redirects to the main page
            }
        }
    </script>

</body>