<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatcher - Error {{status}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/errorStyles.css">
</head>
<body>
    <header class="title">
        <a href="/main" class="logo"><div>JOBMATCHER</div></a>
    </header>
    
    <div class="container">
        <div class="box">
            <h1  style="color: #d9534f;">¡UwU! Algo salió mal</h1>
            <p>{{error}}</p>
            <p>Error {{status}}</p>
            <button onclick="location.href='/main'" >Volver al inicio</button>
        </div>
    </div>

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.</div>    
    </footer>
</body>
</html>
