<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>

    <header>
        <div class="header-left">
            <button class="back-btn" onclick="goBack()">⬅️ Atrás</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button class="hidden-button"></button>
        </div>
    </header>

    <div class="container">
        <div class="box">
            <h1>Editar perfil</h1>
            <form id="profileEditorForm" method="post" action="/profile/form">
                <div class="input-group">
                    <label for="studies">Estudios (separados por comas):</label>
                    <input type="text" id="studies" name="studies" value="{{studies}}" required>
                </div>
                <div class="input-group">
                    <label for="skills">Habilidades (separadas por comas):</label>
                    <input type="text" id="skills" name="skills" value="{{skills}}" required>
                </div>
                <div class="input-group">
                    <label for="experience">Experiencia (en años):</label>
                    <input type="number" id="experience" name="experience" value="{{experience}}">
                </div>
                <div class="button-group">
                    <button type="submit">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.
        </div>
    </footer>

</body>

<script>
    function goBack() {
        window.location.href = "/profile";
    }
</script>

</html>