<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Catalex JobMatcher</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Bienvenido a Catalex JobMatcher</h1>
            <a class="logo">
                <img src="/img/cropped-telescope.png" alt="Logo">
            </a>
            <p class="description">Encuentra el trabajo de tus sueños o el candidato perfecto para tu oferta.</p>
            <div class="button-group">
                <button id="register-btn" onclick="location.href='/register'">Registrarse</button>
                <button id="login-btn" onclick="location.href='/login'">Iniciar sesión</button>
            </div>
        </div>
    </div>
</body>

</html>
