<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Catalex JobMatcher</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="welcome-box">
            <h1>Catalex JobMatcher</h1>
            <p>Encuentra el trabajo de tus sueños o el candidato perfecto.</p>
            <div class="button-group">
                <button class="btn" onclick="location.href='/register'">Registrarse</button>
                <button class="btn" onclick="location.href='/login'">Iniciar sesión</button>
            </div>
        </div>
    </div>
</body>
</html>
