<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Catalex JobMatcher</title>
</head>
<body>
    <div class="container">
        <h2>Catalex JobMatcher</h2>
        <button onclick="location.href='register.html'">Registrarse</button>
        <button onclick="location.href='login.html'">Iniciar sesión</button>
    </div>
</body>
</html>
