<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
    </header>

    <div class="container">
        <div class="box">
            <h1>Iniciar Sesión</h1>
            <form id="loginForm" onsubmit="return validarLogin(event)">
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="input-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="button-group">
                    <button id="submit">Ingresar</button>
                </div>
            </form>
            
            <!--<p>¿No tienes cuenta? <a href="register">Regístrate</a></p>-->
        </div>
    </div>

    <script>
        function validarLogin(event) {
            event.preventDefault();
            const email = document.getElementById('email').value.trim();
            const password = document.getElementById('password').value.trim();

            if (email === "" || password === "") {
                alert("Por favor, completa todos los campos.");
                return false;
            }

            if (email.indexOf('@') === -1) {
                alert("Por favor, ingresa un email válido.");
                return false;
            }

            const data = { email, password };

            fetch("/api/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text) });
                }
                return response.json();
            })
            .then(user => {
                window.location.href = '/main';
            })
            .catch(error => {
                alert("Error: " + error.message);
            });
            return false;
        }
    </script>

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.</div>
    </footer>

</body>


</html>
