<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatcher - Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>

    <header>

        <div class="header-left">
            <button id="options-btn" onclick="location.href='/options'">⚙️ Opciones</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button id="profile-btn" onclick="location.href='/profile'">👤 Perfil</button>
        </div>

    </header>

    <main class="container">
        <section class="left-section">
            <button onclick="location.href='/match'">🔍 Encuentra tu match</button>
            <button onclick="location.href='/api/match/consultantPage'">🤝 Consulta tus match</button>
            <button onclick="location.href='/blog'">📰 Visita nuestro blog</button>
        </section>
        <section class="right-section">
            <img src="img/cropped-telescope.png" alt="Logo">
        </section>
    </main>

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.
        </div>
    </footer>

</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("options-btn").addEventListener("click", function () {
            window.location.href = "/options";
        });

        document.getElementById("profile-btn").addEventListener("click", function () {
            window.location.href = "/profile";
        });
    });
</script>

</html>