<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatcher - Inicio</title>
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="option-box">
            <a href="/options" class="button">⚙️ Opciones</a>
        </div>
        <a href="/main" class="logo">
            <div>JobMatcher</div>
        </a>
        <div class="icons">
            <div class="icon">
                <a href="/notification" class="button">🔔 Notificaciones</a>
            </div>
            <div class="icon">
                <a href="/profile" class="button">👤 Perfil</a>
            </div>
        </div>
    </header>

    <main class="container">
        <section class="left-section">
            <a href="" class="btn">Encuentra tu match 🔍</a>
            <a href="/currentMatch" class="btn">Consulta tus match 🤝</a>
            <a href="/blog" class="btn">Visita nuestro blog 📰</a>
        </section>
        <section class="right-section">
            <div class="image-box">
                <img src="https://static.vecteezy.com/system/resources/previews/025/870/293/original/vintage-telescope-cartoon-spyglass-pirate-illustration-isolated-on-white-background-vector.jpg"
                    alt="Imagen" class="responsive-image">
            </div>
        </section>
    </main>

</body>

</html>