<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatcher - Matches Realizados</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/matchConsultantStyles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>

    <header>
        <div class="header-left">
            <button class="back-btn" onclick="location.href='/main'">⬅️ Atrás</button> <!-- Back button to return to the main page -->
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button class="hidden-button"></button>
        </div>
    </header>

    <div class="container">
        {{#companies}}
            <div class="box">
                <h1>{{name}}</h1>
                <img src="{{imagePath}}" alt="Logo de {{name}}" width="100">
                <p>{{location}}</p>
                <p>{{bio}}</p>
            </div>
        {{/companies}}
    </div>

    

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.</div>
    </footer>

</body>

<script>
    function goBack() {
        window.location.href = "/main";
    }
</script>

</html>