<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatcher - Nuevo Post</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>
    <header>
        <div class="header-left">
            <button class="back-btn" onclick="location.href='/blog'">⬅️ Atrás</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button class="hidden-button"></button> <!-- Not to show Profile Button -->
        </div>
    </header>

    <main class="container">
        
        <div class="box"> 
            <h1>Nueva Noticia</h1>
            <form id="newPostForm" method="post" action="/blog/newpost">
                <div class="input-group">
                    <label for="title">Título:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="input-group">
                    <label for="content">Contenido:</label>
                    <textarea id="content" name="content" rows="10" required></textarea>
                </div>
                <div class="input-group">
                    <label for="imagePath">Imagen (URL):</label>
                    <input type="text" id="imagePath" name="imagePath">
                </div>
                
                <div class="button-group">
                    <button type="submit">Publicar</button>
                </div>
            </form>                        
        </div>
    </main>

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.
        </div>
    </footer>

</body>
</body>

</html>
