<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobMatcher - Blog</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/newsStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <button class="back-btn" onclick="location.href='main.html'">⬅️ Atrás</button>
        <div class="option-box">
            <a href="options.html" class="button">⚙️ Opciones</a>
        </div>
        <div class="logo">JobMatcher</div>
        <div class="icons">
            <div class="icon">
                <a href="notification.html" class="button">🔔 Notificaciones</a>
            </div>
            <div class="icon">
                <a href="profile.html" class="button">👤 Perfil</a>
            </div>
        </div>
    </header>
    <main class="container">
        <news class="news-article">
            <h1 class="news-title">Nuevo Informe de Empleabilidad en el Sector Tecnológico</h1>
            <p class="news-date">13 de febrero de 2025</p>
            <img src="\src\main\resources\img\working.png" alt="Imagen de informe" class="news-image">
            <p class="news-content">
                El sector tecnológico continúa siendo uno de los más demandados en el mercado laboral. Según un reciente informe, se espera un aumento en la contratación de profesionales especializados en ciberseguridad y desarrollo de software. 
                Las empresas están buscando cada vez más talento en áreas como la inteligencia artificial, la blockchain y el análisis de datos. 
                Además, la tendencia hacia el trabajo remoto sigue ganando terreno, lo que abre nuevas oportunidades para profesionales a nivel global. 
                Si estás buscando una nueva oportunidad, asegúrate de actualizar tu perfil en plataformas como JobMatcher para estar al tanto de las últimas ofertas de trabajo.
            </p>
        </news>
    </main>
</body>
</html>
