<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/optionsStyles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>

    <header>
        <div class="header-left">
            <button class="back-btn" onclick="goBack()">⬅️ Atrás</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button class="hidden-button"></button> <!-- Not to show Profile Button -->
        </div>
    </header>

    <main class="container">
        <section class="option">
            <label class="switch">
                <input type="checkbox" id="darkModeSwitch">
                <span class="slider round"></span>
            </label>
            <span>Activar/Desactivar Modo Oscuro</span>
        </section>
    </main>

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.
        </div>
    </footer>

</body>

<script>
    function goBack() {
        window.location.href = "/main"; // Else goes to main page
    }
</script>

</html>
