<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/optionsStyles.css">
    <script src="/js/darkMode.js" defer></script>
</head>




<body>

    <header>
        <div class="header-left">
            <button class="back-btn" onclick="goBack()">⬅️ Atrás</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button class="hidden-button"></button> <!-- Sin función -->
        </div>
    </header>

    <main class="container">
        <section class="option">
            <label class="switch">
                <input type="checkbox" id="darkModeSwitch">
                <span class="slider round"></span>
            </label>
            <span>Activar/Desactivar Modo Oscuro</span>
        </section>
    </main>

    <script>
        // JavaScript to handle the switches
        document.getElementById('notificationsSwitch').addEventListener('change', function () {
            if (this.checked) {
                // Code to enable notifications
                console.log('Notificaciones activadas');
            } else {
                // Code to disable notifications
                console.log('Notificaciones desactivadas');
            }
        });

        document.getElementById('darkModeSwitch').addEventListener('change', function () {
            if (this.checked) {
                // Code to enable dark mode
                document.body.classList.add('dark-mode');
                localStorage.setItem('darkMode', 'enabled');
                console.log('Modo oscuro activado');
            } else {
                // Code to disable dark mode
                document.body.classList.remove('dark-mode');
                localStorage.setItem('darkMode', 'disabled');
                console.log('Modo oscuro desactivado');
            }
        });

        // Check the dark mode status on page load
        if (localStorage.getItem('darkMode') === 'enabled') {
            document.body.classList.add('dark-mode');
            document.getElementById('darkModeSwitch').checked = true;
        }
    </script>
    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.
        </div>
    </footer>

    <script>
        function goBack() {
            window.location.href = "/main"; // Else goes to main page
        }
    </script>

</body>




</html>