<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>

    <header>
        <div class="header-left">
            <button class="back-btn" onclick="goBack()">⬅️ Atrás</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button class="hidden-button"></button>
        </div>
    </header>

    <div class="container">
        <div class="box">
            <h1>Editar perfil</h1>
            <form id="profileEditorForm" method="post" action="/profile/edit">
                <div class="input-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" th:value="${user.name}" required>
                </div>
                <div class="input-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" th:value="${user.email}" required>
                </div>
                <div class="input-group">
                    <label for="phone">Teléfono:</label>
                    <input type="text" id="phone" name="phone" th:value="${user.phone}">
                </div>
                <div class="input-group">
                    <label for="location">Ubicación:</label>
                    <input type="text" id="location" name="location" th:value="${user.location}">
                </div>
                <div class="input-group">
                    <label for="bio">Biografía:</label>
                    <textarea id="bio" name="about" rows="4" required th:text="${user.bio}"></textarea>
                </div>
                <div class="input-group">
                    <button type="submit" class="button">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function goBack() {
            window.location.href = "/profile";
        }
    </script>

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.
        </div>
    </footer>

</body>

</html>
