<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/profileStyles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/darkMode.js" defer></script>
</head>

<body>

    <header>
        <div class="header-left">
            <button class="back-btn" onclick="goBack()">⬅️ Atrás</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button class="hidden-button"></button>
        </div>
    </header>

    <div class="container">
        <div class="box">
            <h2>Foto de Perfil</h2>
            <img id="profilePhoto" src="{{user.imagePath}}" alt="Foto de perfil">

            <form action="/profile/upload_image" method="post" enctype="multipart/form-data">
                <input type="file" id="photoInput" name="image" accept="image/*" style="display:none;"
                    onchange="this.form.submit();">
                <div class="button-group">
                    <button type="button" onclick="document.getElementById('photoInput').click()">Cambiar Foto</button>
                </div>
            </form>
        </div>

        <div class="box">
            <h2>Datos del usuario</h2>
            <ul>
                <li>
                    <strong>Nombre:</strong> </span>{{user.name}}</span>
                </li>
                <li>
                    <strong>Teléfono:</strong> </span>{{user.phone}}</span>
                </li>
                <li>
                    <strong>Email:</strong> </span>{{user.email}}</span>
                </li>
                <li>
                    <strong>Ubicación:</strong> </span>{{user.location}}</span>
                </li>
                <li>
                    <strong>Acerca de mí:</strong> </span>{{user.bio}}</span>
                </li>
            </ul>
            <div class="button-group">
                <button onclick="location.href='/profile/edit'">Editar Datos</button>
            </div>
        </div>
        <div class="box">
            <h2>Estudios</h2>
            <ul>
                {{#studies}}
                <li>{{.}}</li>
                {{/studies}}
            </ul>

            <h2>Habilidades</h2>
            <ul>
                {{#skills}}
                <li>{{.}}</li>
                {{/skills}}
            </ul>
            <h2>Experiencia</h2>
            </span>{{experience}} años</span>

            <div class="button-group">
                <button onclick="location.href='/profile/form'">Editar CV</button>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const defaultPhoto = "/profile/profile.jpg";
            const storedProfile = localStorage.getItem("profile");
            let profile = storedProfile ? JSON.parse(storedProfile) : {};

            document.getElementById("profilePhoto").src = profile.photo || defaultPhoto;

            document.getElementById('photoInput').addEventListener('change', function (e) {
                const file = e.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (evt) {
                        const imgData = evt.target.result;
                        document.getElementById("profilePhoto").src = imgData;
                        profile.photo = imgData;
                        localStorage.setItem("profile", JSON.stringify(profile));
                    };
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.scrollTo(0, document.body.scrollHeight);
        });
    </script>

    <footer>
        <div class="copyright">&copy; 2025 Desarrollado por el equipo de Cibercatalejo. Todos los derechos reservados.
        </div>
    </footer>

</body>

<script>
    function goBack() {
        window.location.href = "/main";
    }
</script>

</html>
