<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registerStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<header class="header">
    <div class="option-box">
        <a href="/options" class="button">⚙️ Opciones</a>
    </div>
    <div class="logo">CATALEX JobMatcher</div>
    <div class="icons">
        <div class="icon">
            <a href="/notification" class="button">🔔 Notificaciones</a>
        </div>
        <div class="icon">
            <a href="/profile" class="button">👤 Perfil</a>
        </div>
    </div>
</header>

<body>
    <div class="register-container">
        <h2>Crear Cuenta</h2>
        <form action="/register" method="post">
            <div class="input-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required autofocus>
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
            </div>
            <div class="input-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required minlength="8" 
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                       title="Debe contener al menos una mayúscula, una minúscula y un número, y mínimo 8 caracteres">
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirmar Contraseña:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="input-group">
                <label for="account_type">Tipo de cuenta:</label>
                <select id="account_type" name="account_type" required>
                    <option value="usuario">Usuario</option>
                    <option value="empresa">Empresa</option>
                </select>
            </div>
            <div class="button-group">
                <button type="submit" class="btn">Registrarse</button>
            </div>
        </form>
        <p>¿Ya tienes cuenta? <a href="login">Inicia sesión</a></p>
    </div>
</body>
</html>
