<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario de Usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/questionnaireStyles.css">
</head>
<body>
    <header class="header">
        <button class="back-btn" onclick="location.href='/register'">⬅️ Atrás</button>
        <h1>Notificaciones</h1>
    </header>
    <h1>Cuestionario de Usuario</h1>
    <form id="userQuestionsForm">
        <!-- Las preguntas se cargarán aquí -->
    </form>
    <button type="submit" form="userQuestionsForm">Enviar</button>

    <script>
        fetch('/data/user_questions.json')
            .then(response => response.json())
            .then(data => {
                const form = document.getElementById('userQuestionsForm');

                data.forEach((question) => {
                    const div = document.createElement("div");
                    div.classList.add("question");

                    const questionTitle = document.createElement("p");
                    questionTitle.textContent = question.question;
                    div.appendChild(questionTitle);

                    div.appendChild(document.createElement("br"));

                    question.options.forEach(option => {
                        const input = document.createElement("input");
                        input.type = "radio";
                        input.name = `question_${question.id}`;
                        input.value = option;
                        input.id = `question_${question.id}_${option}`;

                        const optionLabel = document.createElement("label");
                        optionLabel.textContent = option;
                        optionLabel.setAttribute("for", input.id); 

                        div.appendChild(input);
                        div.appendChild(optionLabel);
                        div.appendChild(document.createElement("br")); 
                    });

                    div.appendChild(document.createElement("br"));

                    form.appendChild(div);
                });
            })
            .catch(error => console.error("Error al cargar las preguntas:", error));

        document.getElementById("userQuestionsForm").addEventListener("submit", function(event) {
            event.preventDefault();
            alert("Formulario enviado con éxito.");
        });
    </script>
</body>
</html>
